.Arcade {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.arcade-buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.arcade-buttons > a {
	height: 50px;
	width: 50px;
	display: block;
}

.arcadeLevelsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
}

.arcadeLevelsContainerTitle {
	width: 100%;
	text-align: left;
	font-weight: 500;
	font-size: 1.2em;
}

.arcadeSquare {
	position: relative;
}

.area1 > .arcadeSquare, .area2 > .arcadeSquare {
	width: 33%;
	padding-top: 33%;
}

.area3 > .arcadeSquare {
	width: 25%;
	padding-top: 25%;
}

.arcadeLevelButton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 60%;
	width: 60%;
	
	
}