* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #e6e6e6;
}

.app {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	border: 3px solid #f7f7aa;
}

.tile {
	border: 3px solid #f7f7aa;
}

.tile.unfilled {
	background: grey;
}

.tile.unfilled.reveal {
	background: grey;
}

.tile.filled {
	background: #AED7ED;
}

.tile.inPattern.reveal {
	background: #AED7ED;
}

.tile.filled.FILLED_CORRECTLY.show-status {
	background: #67BD85;
}

.tile.unfilled.UNFILLED_CORRECTLY.show-status {
	background: #67BD85;
}

.tile.filled.FILLED_INCORRECTLY.show-status {
	background: #B71E26;
}

.tile.unfilled.UNFILLED_INCORRECTLY.show-status {
	background: #B71E26;
}














